<!DOCTYPE html>
<html>
  <head>
    <title>CSRF</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>CSRF</h1>
    <h2>Lažiranje zahtjeva na drugom sjedištu (Cross Site Request Forgery)</h2>
    <hr>
    <a>
        Ostale opcije:
    </a>
    <ul>
        <li>
          <a href="../">Početna stranica</a><br>
        </li>
        <li>
          <a href="../sql">SQL umetanje (SQL Injection)</a><br>
        </li>
      </ul>
    <hr>
    
  </body>
</html>

