<!DOCTYPE html>
<html>
  <head>
    <title>Dobrodošli</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Dobrodošli</h1>
    <hr>
    <p>
      Odaberite jednu od sljedećih opcija:
    </p>
    <ul>
      <li>
        <a href="./sql">SQL umetanje (SQL Injection)</a><br>
      </li>
      <li>
        <a href="./csrf">Lažiranje zahtjeva na drugom sjedištu (Cross Site Request Forgery, CSRF)</a><br>
      </li>
    </ul>
  </body>
</html>